<h1>Users list</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>UserName</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <ng-template [ngTemplateOutlet]="loadTemplate()" [ngTemplateOutletContext]="{ $implicit: user}">
            </ng-template>
        </tr>
    </tbody>
</table>


<ng-template #readOnlyTemplate let-user>
    <td>{{user.id}}</td>
    <td>{{user.userName}}</td>
    <td>
        <input type="button" value="Chat" />
    </td>
</ng-template>