<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Users list</h1>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>UserName</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.userName}}</td>
                        <td>
                            <a routerLink="/chat" (click)="addUser(user.id)" class="btn btn-light">Chat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>